apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patchesStrategicMerge:
  - deployment.yaml
  - service.yaml

replicas:
  - name: vote
    count: 7

images:
  - name: schoolofdevops/vote
    newTag: v4
    #newName: lfs269/vote
    #digest: sha256:abcd1234efgh5678ijkl9101mnopqrstuvwx2345yzab6789cdef0123ghij4567

namespace: instavote